@import "../../style";

.cart {
  padding: 24px;
  display: grid;
  grid-template: auto auto auto / 248px;
  height: fit-content;
  gap: 24px;
  border: 2px solid $green;
  border-radius: 24px;
  color: $dark-green;
  background: $white;

  &__title {
    font-weight: nth($font-weight, 1);
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.02em;
  }

  &__line {
    margin: 20px 0;
  }

  &__subtotal {
    display: flex;
    justify-content: space-between;
    font-family: nth($font-family, 2);
    font-weight: nth($font-weight, 1);
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
  }

  &__subtotal span:first-child {
    font-weight: nth($font-weight, 4);
  }

  &__btns {
    display: flex;
    justify-content: space-between;
  }
}

@include tablet-portrait {
  .cart {
    display: none;
  }
}