@import "../../style";

.cart-page {
  @include page(start);

  &__subtitle {
    font-weight: nth($font-weight, 1);
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.02em;
  }
}

@include tablet {
  .cart-page {
    padding: 40px 15px;

    &__subtitle {
      font-size: 20px;
      line-height: 30px;
    }
  }
}