@import "../../style";

.header {
  top: 0;
  width: 100%;
  position: sticky;
  font-family: nth($font-family, 2);
  background-color: $green;
  height: 115px;
  color: $white;
  z-index: 100;

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
  }

  &__list {
    padding: 39px 0 16px 0;
    max-height: 115px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    list-style-type: none;
  }
}

@include tablet-portrait {
  .header {
    &__list {
      gap: 20px;

      li:nth-child(7) {
        order: 8;
      }
    }
  }
}

@include tablet {
  .header {
    height: 80px;

    .container {
      padding: 0;
    }

    &__list {
      top: 0;
      opacity: 0;
      position: fixed;
      padding: 104px 30px 32px;
      flex-direction: column;
      justify-content: space-between;
      gap: 0;
      max-height: 0;
      height: 0;
      width: 100%;
      align-items: center;
      background-color: $green;
      box-shadow: 0px 4px 20px rgba(184, 180, 176, 0.8);
      border-radius: 0 0 24px 24px;
      transition: 0.4s all;
      overflow: hidden;
      z-index: -1;

      &__active {
        max-height: 100%;
        height: 445px;
        opacity: 1;
        z-index: 50;
      }
    }
  }
}