@mixin btn($color, $background, $border: false) {
  @extend %extend-btn;
  color: $color;
  background: $background;
  border: $border;
}

@mixin page($ta: center) {
  @extend %extend-page;
  text-align: $ta;
}

@mixin quantity($fz, $lh, $w, $l, $r) {
  font-size: $fz;
  line-height: $lh;
  width: $w;
  height: $w;
  left: $l;
  right: $r;
}