$green: #8cc63f;
$dark-green: #2f4f3c;
$new-price: #006837;
$red: #f47676;
$grey: #343434;
$white: #ffffff;

$bg: (
    main: url("../resources/img/main.png") 0 10px/100% auto no-repeat,
    mobile: url("../resources/img/mobile.png") 0 58px/ 100% auto no-repeat,
);

$font-family: "Orelega One", "Nunito", "Montserrat";
$font-weight: 400, 500, 600, 700, 800;
