@import '../../style';

.filter {
    width: 100%;
    margin: 60px 0 0;
    display: flex;
    justify-content: center;

    &__wrap {
        padding: 0 15px;
        width: 100%;
        max-width: 360px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(244, 118, 118, 0.5);
    }

    &__btn {
        margin: 0 -14px 0;
        position: relative;
        font-family: nth($font-family, 2);
        font-weight: nth($font-weight, 3);
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.02em;
        color: $dark-green;
        cursor: pointer;
        background-image: linear-gradient($white, $red);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size .3s;
    }

    &__btn:hover {
        background-size: 100% 2px;
    }

    .active {
        background-image: linear-gradient($white, $red);
        background-size: 100% 1px;
    }
}

@include tablet {
    .filter {
        margin: 32px auto 0;

        &__wrap {
            max-width: 388px;
        }

        &__btn {
            font-size: 20px;
            line-height: 27px;
        }
    }
}