@import "../../style";

.payment-page {
  @include page(start);
}

@include tablet {
  .payment-page {
    padding: 40px 15px;

    &__subtitle {
      font-size: 20px;
      line-height: 30px;
    }
  }
}