@import "../../style";

.header {
  &__link {
    &-cart {
      margin-top: -10px;
      position: relative;

      & .quantity {
        @include quantity(22px, 27px, 44px, 20px, auto);
      }
    }
  }
}

@include tablet {
  .header {
    &__link {
      &-cart {
        margin-top: 20px;
      }
    }
  }
}